<header class="header">
    <a href="/" class="header__logo">Nodejs</a>

    <nav class="header__nav">
        <ul>
            <li><a href="/dashboard" class="">Home</a></li>  
            <!-- '/' changed to dashboard -->
            <li><a href="/about" class=""></a>About</li>
            <li><a href="/Contact" class=""></a>Contact</li>
        </ul>
    </nav>


    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
            
        
    </div>
</header>