<header class="header">
    <a href="/" class="header__logo">Nodejs</a>

    <nav class="header__nav">
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class=""></a>About</li>
            <li><a href="/Contact" class=""></a>Contact</li>
        </ul>
    </nav>


    <div class="header__button">
        <button class="searchbtn" aria-expanded="false">
            <a href="/admin">Login</a>
        </button>
    </div>
</header>